<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
        <title></title>
    </head>
    <body>
        <div id='app'>
            <!--粘性标题栏-->
            <div class="container-fluid header" v-bind:style="{'background-color':styleobject.front}">
                <!--img src="static/img/guard.png" style="height:60px;width:60px; margin:5px;"-->
                <img v-bind:src="darkmode?'static/img/dark_home.png':'static/img/light_home.png'"
                    style="width: 50px;height: 50px;margin-top:5px;vertical-align: top;" class="main"
                    onclick="window.location.href='index.html'">
                <div class="header-content" style="display:inline-block;">孵化项目</div>
                <button  v-bind:class="{btn:true,'btn-primary':!darkmode,'btn-success':darkmode}"  style="float:right;height:100%;" v-on:click="switchtheme">切换主题</button>
                <div class="dropdown" style="float:right">
                    <div class="main dropdown-toggle" data-toggle="dropdown" style="width: 75px;height:60px;margin:5px;float: right;padding: 5px;">
                        <img v-bind:src="mineavatar?mineavatar:'static/img/avater.jpg'" 
                        style="width:50px;height:50px;">
                    </div>
                    <div class="dropdown-menu" v-bind:style="{'background-color':styleobject.front }">
                        <a class="dropdown-item" href="index.html" v-bind:style="{color:styleobject.content}">首页</a>
                        <a class="dropdown-item" href="usercenter.html" v-bind:style="{color:styleobject.content}">个人中心</a>
                        <!--div class="dropdown-divider"></div-->
                    </div>
                </div>
            </div>
            <!--主体-->
            <div class="container-fluid" style="margin-top:30px;">
                <div style="width:100%">
                    <div class=" middle" >
                        <div class="main" v-bind:style="{'background-color':styleobject.front,'padding':'1%'}">
                            <div style="width: 100%;text-align: center;"><h3>{{title}}</h3></div>
                            <hr v-bind:style="{border:'1px solid '+styleobject.content,margin:'2px'}">
                            <span style="font-size: 20px;"><strong>孵化项目简介:</strong></span><br>
                            {{body}}<br>
                            <span style="font-size: 15px;"><strong>项目创建时间:</strong></span>{{time}}<br>
                            <button v-bind:class="{btn:true,'btn-primary':!darkmode,'btn-success':darkmode}"
                            v-show="mine" v-on:click="goto_edit">
                            修改此项目</button>
                        </div>
                        <nav v-bind:class="{navbar:true,'navbar-expand-sm':true ,'navbar-dark':true,main:true,'bg-primary':!darkmode,'bg-success':darkmode}" style="width:100%;margin:10px auto;margin-bottom:10px;">
                            <ul class="navbar-nav">
                              <li v-bind:class="{'nav-item':true,'active':mode==0}" style="cursor: pointer;" v-on:click="changemode(0)">
                                <span class="nav-link">微知识</span>
                              </li>
                              <li v-bind:class="{'nav-item':true,'active':mode==1}" style="cursor: pointer;" v-on:click="changemode(1)">
                                <span class="nav-link" >评论区</span>
                              </li>
                              <li v-bind:class="{'nav-item':true,'active':mode==2}" style="cursor: pointer;" v-on:click="changemode(2)">
                                <span class="nav-link">贡献微证据</span>
                              </li>
                              <li v-bind:class="{'nav-item':true,'active':mode==3}" style="cursor: pointer;" v-on:click="changemode(3)">
                                <span class="nav-link">贡献微猜想</span>
                              </li>
                            </ul>
                        </nav>
                        <template v-if="mode==0">
                            <div class="main" v-bind:style="{'background-color':styleobject.front,'padding':'1%'}"
                            v-for="m in maindata">
                                <span><strong><u v-on:click="goto_user(m.author_id)" style="cursor: pointer;">@{{m.author}}</u>  为这个项目贡献了{{m.type==1?'微猜想':'微证据'}}</strong></span>
                                <span style="float: right;">时间:{{m.time}}</span><br>
                                <hr v-bind:style="{border:'1px solid '+styleobject.content,margin:'2px'}">
                                <strong>{{m.type==1?'微猜想':'微证据'}}: </strong>
                                <u v-on:click="goto_detail(m.type,m.target_id)" style="cursor: pointer;">{{m.header}}</u><br>
                                <strong>贡献理由: </strong>{{m.reason}}<br>
                            </div>
                            <div div class="main"  v-on:click="get_maindata"
                            v-bind:style="{'background-color':styleobject.front,'padding':'1%','text-align':'center','cursor':'pointer'}">
                                {{hasnext?'点击加载更多':'没有更多内容'}}
                            </div>
                        </template>
                        <template v-else-if="mode==1">
                            <div class="main " v-bind:style="{'background-color':styleobject.front,'font-size':'0','padding':'1%'}"
                             id="commenttext">
                                <textarea type="input" class="form-control" v-bind:style="{'background-color':styleobject.front,color:styleobject.content,height:'100px','padding-top':0}" v-model="new_comment"></textarea>
                                <button v-bind:class="{btn:true,'btn-primary':!darkmode,'btn-success':darkmode,}"
                                style="margin:5px;" v-on:click="send_comment">发表评论</button>
                            </div>

                            <div v-for="comment in comments" class="main comment" v-bind:style="{'background-color':styleobject.front}">
                                <a  v-bind:href="'userinfo.html?id='+comment.id">@{{comment.username}}</a>:{{comment.content}}
                                <div style="width: 100%;">发表于:{{comment.date}}
                                    <span style="float: right;">
                                        <u  style="cursor: pointer;" v-on:click="comment_like_click(comment.comment_id,comment.liked,comment)">
                                            {{comment.liked?'取消点赞':'点赞'}}
                                        </u>
                                        &nbsp;&nbsp;
                                        <u v-show="comment.mine" style="cursor: pointer;" v-on:click="delete_comment(comment.comment_id)">删除</u>
                                    </span>
                                </div>
                            </div>

                        </template>
                        <template  v-else-if="mode==2">
                            <div class="main"  v-bind:style="{'background-color':styleobject.front,'padding':'1%'}">
                                <div>
                                    <div style="width: 49%;display: inline-block; vertical-align: top;">
                                        <label>填写选择这个微证据的理由</label>
                                        <textarea type="input" class="form-control" v-bind:style="{'background-color':styleobject.front,color:styleobject.content,height:'180px','padding-top':0}" v-model="reason"></textarea>
                                    </div>
                                    <div style="width: 49%;display: inline-block;vertical-align: top;">
                                        <label>从收藏夹中选取一个微证据</label>
                                        <select  size="6" class="form-control popselect" v-bind:style="{'background-color':styleobject.front,color:styleobject.content}" v-model="evidence_from_collection">
                                            <option v-for="collection in collections" v-bind:value="{id:collection.id,title:collection.title}">{{collection.title}}</option>
                                        </select>
                                        <button type="button" v-bind:class="{btn:true,'btn-outline-primary':!darkmode,'btn-outline-success':darkmode}" style="width: 100%;" v-on:click="get_collections">
                                            {{collection_hasnext?'加载更多':'没有更多内容'}}
                                        </button>
                                    </div><br>
                                    <button v-bind:class="{btn:true,'btn-primary':!darkmode,'btn-success':darkmode,}"
                                style="margin:5px;margin-left:25%;width: 49%;" v-on:click="submit(0)">提交</button>
                                </div>
                            </div>
                        </template>
                        <template  v-else-if="mode==3">
                            <div class="main"  v-bind:style="{'background-color':styleobject.front,'padding':'1%'}">
                                <div>
                                    <div style="width: 49%;display: inline-block; vertical-align: top;">
                                        <label>填写选择这个微猜想的理由</label>
                                        <textarea type="input" class="form-control" v-bind:style="{'background-color':styleobject.front,color:styleobject.content,height:'180px','padding-top':0}" v-model="reason2"></textarea>
                                    </div>
                                    <div style="width: 49%;display: inline-block;vertical-align: top;">
                                        <label>从收藏夹中选取一个微猜想</label>
                                        <select  size="6" class="form-control popselect" v-bind:style="{'background-color':styleobject.front,color:styleobject.content}" v-model="evidence_from_collection2">
                                            <option v-for="collection2 in collections2" v-bind:value="{id:collection2.id,title:collection2.title}">{{collection2.title}}</option>
                                        </select>
                                        <button type="button" v-bind:class="{btn:true,'btn-outline-primary':!darkmode,'btn-outline-success':darkmode}" style="width: 100%;" v-on:click="get_collections2">
                                            {{collection_hasnext2?'加载更多':'没有更多内容'}}
                                        </button>
                                    </div>
                                    <button v-bind:class="{btn:true,'btn-primary':!darkmode,'btn-success':darkmode,}"
                                style="margin:5px;margin-left:25%;width: 49%;" v-on:click="submit(1)">提交</button>
                                </div>
                            </div>
                        </template>
                    </div>
                    <div class="right" style="vertical-align: top;">
                        <div class="main" v-bind:style="{'background-color':styleobject.front,'text-align':'center'}">
                            <img v-bind:src="avatar?avatar:'static/img/avater.jpg'" class="avatar">
                            <strong>赞助商:{{sponsor}}</strong>
                            <hr v-bind:style="{border:'1px solid '+styleobject.content,margin:'2px'}">
                            <strong>时间线</strong>
                            <div style="height: 10px;"></div>
                            <div class="track-rcol">
                                <div class="track-list">
                                    <ul>
                                        <li v-for="timeline in  timelines" v-bind:style="{'color':styleobject.content}">
                                            <i class="node-icon" v-bind:style="{'background-color':styleobject.content}"></i>
                                            <span class="time">{{timeline.deanline}}</span>
                                            <span class="txt">{{timeline.body}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div style="height: 30px;"></div>
            </div>
        </div>
    </body>
    <script>
        var app=new Vue({
            el:"#app",
            data:{
                //主题颜色配置
                darkmode:true,
                lightcolor:{
                    front:"white",
                    background:"#f6f6f6",
                    content:"#2e4e7e",
                    alert:"alert alert-primary",
                    alerterror:'alert alert-danger',
                    bgpic:"url('static/img/bg.png')"
                },
                darkcolor:{
                    //front:"#282561",
                    front:"#3e3e3e",
                    background:"black",
                    content:"#28a745",
                    alert:"alert alert-success",
                    alerterror:'alert alert-danger',
                    bgpic:"url('static/img/bgdark.png')"
                },
                mineavatar:window.localStorage["avatar"],
                mine:false,
                mode:0,
                title:"",
                body:"",
                avatar:"",
                sponsor:"",
                time:"",
                timelines:[],

                currentpage:0,
                hasnext:true,
                maindata:[],

                comments:[],
                new_comment:"",
               
                collections:[],
                collection_hasnext:true,
                evidence_from_collection:{},
                reason:"",
                collection_currentpage:0,

                collections2:[],
                collection_hasnext2:true,
                evidence_from_collection2:{},
                reason2:"",
                collection_currentpage2:0,

            },
            computed:{
                styleobject:function(){
                    if(this.darkmode){
                        return this.darkcolor;
                    }
                    else{
                        return this.lightcolor;
                    }
                },  
            },
            methods:{
                switchtheme:function(){
                    this.darkmode=!this.darkmode;
                    document.querySelector('body').style.backgroundColor=this.styleobject.background;
                    document.querySelector('body').style.color=this.styleobject.content;
                    document.querySelector('body').style.backgroundImage=this.styleobject.bgpic;
                    window.localStorage["dark"]=this.darkmode;
                },
                getcradle:function(id){
                    axios({
                        method: 'get',
                        url:'http://114.116.53.43/api/cradles/'+id,
                        headers:{
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                        
                    }).then(
                        response=>{
                            //debugger
                            console.log(response)
                            this.title=response.data.title;
                            this.body=response.data.body;
                            this.sponsor=response.data.sponsor.username;
                            this.avatar=response.data.sponsor.avatar;
                            this.time=response.data.timestamp
                            this.timelines=response.data.ddls
                            for(var i=0;i<response.data.comments.length;i++){
                                this.comments.push({
                                    username:response.data.comments[i].author.username,
                                    content:response.data.comments[i].body,
                                    date:response.data.comments[i].timestamp,
                                    id:response.data.comments[i].author.id,
                                    comment_id:response.data.comments[i].id,
                                    mine:response.data.comments[i].author.id==window.localStorage["id"],
                                    liked:response.data.comments[i].likers_id.includes(parseInt(window.localStorage["id"]))
                                })
                            }
                            this.get_maindata()
                        }
                    ).catch(function (error) {
                        if(error.response.status==400&&!error.response.data.message){
                            window.location.href="login.html?type=1" 
                        }
                        else{
                            //alert("发生错误");
                        }
                    }.bind(this));
                },
                changemode:function(x){
                    this.mode=x
                    if(this.mode==0){
                        this.maindata.splice(0,this.maindata.length)
                        this.hasnext=true;
                        this.currentpage=0;
                        this.get_maindata();
                    }
                    if(this.mode==2){
                        this.collections.splice(0,this.collections.length)
                        this.collection_hasnext=true
                        this.collection_currentpage=0
                        this.get_collections()
                    }
                    else if(this.mode==3){
                        this.collections2.splice(0,this.collections2.length)
                        this.collection_hasnext2=true
                        this.collection_currentpage2=0
                        this.get_collections2()
                    }
                },
                getQueryVariable:function (variable){
                    var query = window.location.search.substring(1);
                    var vars = query.split("&");
                    for (var i=0;i<vars.length;i++) {
                        var pair = vars[i].split("=");
                        if(pair[0] == variable){return pair[1];}
                    }
                    return(false);
                },
                delete_comment:function(x){
                    axios({
                        method: 'delete',
                        url:'http://114.116.53.43/api/comments/'+x,
                        headers:{
                            'Content-Type': 'application/json',
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                    }).then(
                        response=>{
                            alert("删除评论成功");
                            console.log(response)
                            window.location.reload();
                        }
                    ).catch(function (error) {
                        console.log(error.response)
                        if(error.response.status==400){
                            if(!error.response.data.message){
                                window.location.href="login.html?type=1";
                                return;
                            } 
                        }
                        else if(error.response==404){
                            alert("该微评不存在或已被删除");
                        }
                        else if(error.response.status==403){
                            alert("您没有相应权限");
                        }
                    }.bind(this));  
                },
                comment_like_click:function(id,liked,obj){
                    debugger
                    var api="";
                    if(liked){
                        api="http://114.116.53.43/api/comments/"+id+"/unlike"
                    }
                    else{
                        api="http://114.116.53.43/api/comments/"+id+"/like"
                    }
                    axios({
                        method: 'get',
                        url:api,
                        headers:{
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                    }).then(
                        response=>{
                            console.log(response)
                            //window.location.reload();
                            obj.liked=!obj.liked
                        } 
                    ).catch(function (error) {
                        if(error.response.status==400){
                            if(!error.response.data.message){
                                window.location.href="login.html?type=1";
                                return;
                            } 
                        }
                        else if(error.response==404){
                            alert("该评论不存在或已被删除");
                            //window.history.back(-1);
                        }
                        else if(error.response.status==403){
                            alert("您没有相应权限");
                            //window.history.back(-1);
                        }
                    }.bind(this))
                },
                send_comment(){
                    if(this.new_comment==""){
                        return;
                    }
                    var bundle={
                        body:this.new_comment,
                        'cradle_id':this.getQueryVariable("id")
                    }
                    axios({
                        method: 'post',
                        url:'http://114.116.53.43/api/comments/',
                        headers:{
                            'Content-Type': 'application/json',
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                        data:JSON.stringify(bundle),
                    }).then(
                        response=>{
                            alert("评论成功")
                            window.location.reload();
                        } 
                    ).catch(function (error) {
                        if(error.response.status==400){
                            if(!error.response.data.message){
                                window.location.href="login.html?type=1";
                                return;
                            } 
                        }
                        else if(error.response==404){
                            alert("该微猜想不存在或已被删除");
                            window.history.back(-1);
                        }
                        else if(error.response.status==403){
                            alert("您没有相应权限");
                            window.history.back(-1);
                        }
                    }.bind(this))
                },
                get_maindata(){
                    var id=this.getQueryVariable("id");
                    if(!this.hasnext){
                        return
                    }
                    this.currentpage++;
                    axios({
                        method: 'get',
                        url:'http://114.116.53.43/api/cradles/'+id+'/microknos-cites?page='+this.currentpage+'&per_page=10',
                        headers:{
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                        
                    }).then(
                        response=>{
                            //debugger
                            console.log(response)
                            this.hasnext=response.data._links.next!=null;
                            for(var i=0;i<response.data.items.length;i++){
                                var tmp={
                                    reason:response.data.items[i].reason,
                                    author:response.data.items[i].user.username,
                                    author_id:response.data.items[i].user.id,
                                    time:response.data.items[i].timestamp
                                }
                                if(response.data.items[i].micropub){
                                    tmp.type=0;
                                    tmp.header=response.data.items[i].micropub.title;
                                    tmp.target_id=response.data.items[i].micropub.id;
                                    this.maindata.push(tmp)
                                }
                                if(response.data.items[i].microcon){
                                    tmp.type=1;
                                    tmp.header=response.data.items[i].microcon.title;
                                    tmp.target_id=response.data.items[i].microcon.id;
                                    this.maindata.push(tmp)
                                }
                            }
                        }
                    ).catch(function (error) {
                        if(error.response.status==400&&!error.response.data.message){
                            window.location.href="login.html?type=1" 
                        }
                        else{
                            //alert("发生错误");
                        }
                    }.bind(this));
                },
                get_collections(){
                    debugger
                    if(!this.collection_hasnext){
                        return;
                    }
                    this.collection_currentpage++;
                    axios({
                        method: 'get',
                        url:'http://114.116.53.43/api/users/'+window.localStorage["id"]+'/collected-micropubs?page='+this.collection_currentpage+'&per_page=10',
                        headers:{
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                        
                    }).then(
                        response=>{
                            console.log(response)
                            this.collection_hasnext=response.data._links.next!=null;
                            for(var i=0;i<response.data.items.length;i++){
                                this.collections.push({
                                    id:response.data.items[i].id,
                                    title:response.data.items[i].title,
                                })
                            }
                        }
                    ).catch(function (error) {
                        if(error.response.status==400){
                            window.location.href="login.html?type=1" 
                        }
                        else if(error.response.status==404){
                            alert("出现错误");
                            window.history.back(-1);
                        }
                        console.log(error.response);
                    }.bind(this));
                },
                get_collections2(){
                    if(!this.collection_hasnext2){
                        return;
                    }
                    this.collection_currentpage2++;
                    axios({
                        method: 'get',
                        url:'http://114.116.53.43/api/users/'+window.localStorage["id"]+'/collected-microcons?page='+this.collection_currentpage2+'&per_page=10',
                        headers:{
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                        
                    }).then(
                        response=>{
                            console.log(response)
                            this.collection_hasnext2=response.data._links.next!=null;
                            for(var i=0;i<response.data.items.length;i++){
                                this.collections2.push({
                                    id:response.data.items[i].id,
                                    title:response.data.items[i].title,
                                })
                            }
                        }
                    ).catch(function (error) {
                        if(error.response.status==400){
                            window.location.href="login.html?type=1" 
                        }
                        else if(error.response.status==404){
                            alert("出现错误");
                            window.history.back(-1);
                        }
                        console.log(error.response);
                    }.bind(this));
                },
                submit:function(t){
                    var bundle={}
                    if(t==0){
                        if(this.reason==""|| this.evidence_from_collection=={}){
                            alert("请选择一个微证据并填写理由")
                        }
                        bundle={
                            reason:this.reason,
                            micropub:""+this.evidence_from_collection.id,
                            cradle:this.getQueryVariable("id")
                        }
                    }
                    else if(t==1){
                        if(this.reason2==""|| this.evidence_from_collection2=={}){
                            alert("请选择一个微证据并填写理由")
                        }
                        bundle={
                            reason:this.reason2,
                            micropub:""+this.evidence_from_collection2.id,
                            cradle:this.getQueryVariable("id")
                        }
                    }
                    axios({
                        method: 'post',
                        url:'http://114.116.53.43/api/microknos-cites',
                        headers:{
                            'Content-Type': 'application/json',
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                        data:JSON.stringify(bundle),
                    }).then(
                        response=>{
                            //debugger
                           alert("贡献成功")
                        }
                    ).catch(function (error) {
                        console.log(error.response)
                        if(error.response.status==400&&!error.response.data.message){
                            window.location.href="login.html?type=1" 
                        }
                        else{
                            //alert("发生错误");
                        }
                    }.bind(this));
                },
                goto_detail:function(type,id){
                    if(type==0){
                        window.open("evidence_detail.html?id="+id);
                    }
                    else if(type==1){
                        window.open("hypothesis_detail.html?id="+id);
                    }
                },
                goto_user:function(id){
                    window.open("userinfo.html?id="+id);
                },
                goto_edit:function(){
                    var id=this.getQueryVariable("id");
                    window.open('create_cradle.html?id='+id);
                }
            },
            mounted(){
                if(!window.localStorage["dark"]||window.localStorage["dark"]=="false"){
                    this.darkmode=false;
                }
                else{
                    this.darkmode=true;
                }
                document.querySelector('body').style.backgroundColor=this.styleobject.background;
                document.querySelector('body').style.color=this.styleobject.content;
                document.querySelector('body').style.backgroundImage=this.styleobject.bgpic;
                document.querySelector('body').style.backgroundAttachment="fixed";
                document.querySelector('body').style.backgroundSize='cover';
                var id=this.getQueryVariable("id");
                if(!id){
                    alert("非法链接");
                    window.history.back(-1);
                }
                if(id==window.localStorage["id"]){
                    this.mine=true
                }
                this.getcradle(id);
            }
        })
    </script>
    <link rel="stylesheet" type="text/css" href="static/css/header.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/css/timeline.css">
    <style>
        .middle{
            width:70%;
            display: inline-block;
            height: auto;
            margin-left: 1%;
        }
        .right{
            width:25%;
            display: inline-block;
            height: auto;
            margin-left: 3%;
        }
        .avatar{
            margin:0 auto;
            display: block;
            height:100px;
            width:100px;
            opacity: 1;
        }
        .comment{
            width:100%;
            height:auto;
            font-size: 15px;
            padding:2%;
            margin: 0 auto;
        }
		.btn-primary {
			background-color: #2e4e7e;
			border-color: #2e4e7e;
		}
		.bg-primary {
			background-color: #2e4e7e !important;
		}
    </style>
</html>