<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
        <title></title>
    </head>
    <body>
        <div id='app'>
            <!--粘性标题栏-->
            <div class="container-fluid header" v-bind:style="{'background-color':styleobject.front}">
                <!--img src="static/img/guard.png" style="height:60px;width:60px; margin:5px;"-->
                <img v-bind:src="darkmode?'static/img/dark_back.png':'static/img/light_back.png'"
                    style="width: 50px;height: 50px;margin-top:5px;vertical-align: top;" class="main"
                    onclick="window.history.back(-1)">
                <div class="header-content" style="display:inline-block;">{{edit?'编辑':'创建'}}孵化器项目</div>
                <button  v-bind:class="{btn:true,'btn-primary':!darkmode,'btn-success':darkmode}"  style="float:right;height:100%;" v-on:click="switchtheme">切换主题</button>
                <div class="dropdown" style="float:right">
                    <div class="main dropdown-toggle" data-toggle="dropdown" style="width: 75px;height:60px;margin:5px;float: right;padding: 5px;">
                        <img v-bind:src="mineavatar?mineavatar:'static/img/avater.jpg'" 
                        style="width:50px;height:50px;">
                    </div>
                    <div class="dropdown-menu" v-bind:style="{'background-color':styleobject.front }">
                        <a class="dropdown-item" href="index.html" v-bind:style="{color:styleobject.content}">首页</a>
                        <a class="dropdown-item" href="usercenter.html" v-bind:style="{color:styleobject.content}">个人中心</a>
                        <!--div class="dropdown-divider"></div-->
                    </div>
                </div>
            </div>
            <!--主体-->
            <div class="container-fluid" style="margin-top:30px;">
                <div class="main middle" v-bind:style="{'background-color':styleobject.front,}">
                    <label> <h3>{{edit?'编辑':'创建一个'}}孵化器项目</h3></label><br>
                    <label>项目名称</label><br>
                    <input type="input" class="form-control" v-bind:style="{'background-color':styleobject.front,color:styleobject.content}" v-model="title">
                    <label>项目内容</label><br>
                    <input type="input" class="form-control" v-bind:style="{'background-color':styleobject.front,color:styleobject.content}" v-model="body">
                    <button type="button" v-bind:class="{btn:true,'btn-primary':!darkmode,'btn-success':darkmode}" style="margin:0 auto;margin-top:10px;width:100%" v-on:click="submit">提交</button><br>
                </div>
                <div class="main middle" v-bind:style="{'background-color':styleobject.front,}" v-show="edit">
                    <label>编辑项目的时间线</label><br>
                    <div style="display: inline-block;width:40% ;">时间</div>
                    <div style="display: inline-block;width:45% ;">事件</div>
                    <hr v-bind:style="{border:'1px solid '+styleobject.content,margin:'2px'}">
                    <div v-for="timeline in  timelines">
                        <div style="display: inline-block;width:40% ;">{{timeline.deanline}}</div>
                        <div style="display: inline-block;width:45% ;">{{timeline.body}}</div>
                        <button class="btn btn-danger" style="margin:0 auto;margin-top:10px;vertical-align: bottom;width: 9%;"
                        v-on:click="delete_ddl(timeline.id)">删除</button>
                    </div>
                    <input type="datetime-local" class="form-control" v-bind:style="{'background-color':styleobject.front,color:styleobject.content,'width':'40%','min-width':'220px','display':'inline-block','vertical-align':'bottom'}"  v-model="ddl_time">
                    <input type="input" class="form-control" v-bind:style="{'background-color':styleobject.front,color:styleobject.content,'width':'45%','display':'inline-block','vertical-align':'bottom'}" v-model="ddl_content">
                    <button type="button" v-bind:class="{btn:true,'btn-primary':!darkmode,'btn-success':darkmode}" style="margin:0 auto;margin-top:10px;vertical-align: bottom;width: 9%;" v-on:click="submit_ddl">添加</button><br>
                </div>
            </div>
        </div>
    </body>
    <script>
        var app=new Vue({
            el:"#app",
            data:{
                //主题颜色配置
                darkmode:true,
                lightcolor:{
                    front:"white",
                    background:"#f6f6f6",
                    content:"#2e4e7e",
                    alert:"alert alert-primary",
                    alerterror:'alert alert-danger',
                    bgpic:"url('static/img/bg.png')"
                },
                darkcolor:{
                    //front:"#282561",
                    front:"#3e3e3e",
                    background:"black",
                    content:"#28a745",
                    alert:"alert alert-success",
                    alerterror:'alert alert-danger',
                    bgpic:"url('static/img/bgdark.png')"
                },
                mineavatar:window.localStorage["avatar"],
                title:"",
                body:"",
                edit:false,
                timelines:[],
                ddl_time:"",
                ddl_content:"",
            },
            computed:{
                styleobject:function(){
                    if(this.darkmode){
                        return this.darkcolor;
                    }
                    else{
                        return this.lightcolor;
                    }
                },  
            },
            methods:{
                switchtheme:function(){
                    this.darkmode=!this.darkmode;
                    document.querySelector('body').style.backgroundColor=this.styleobject.background;
                    document.querySelector('body').style.color=this.styleobject.content;
                    document.querySelector('body').style.backgroundImage=this.styleobject.bgpic;
                    window.localStorage["dark"]=this.darkmode;
                },
                getQueryVariable:function (variable){
                    var query = window.location.search.substring(1);
                    var vars = query.split("&");
                    for (var i=0;i<vars.length;i++) {
                        var pair = vars[i].split("=");
                        if(pair[0] == variable){return pair[1];}
                    }
                    return(false);
                },
                submit:function(){
                    var bundle={
                        title:this.title,
                        body:this.body,
                    };
                    var api="",method=""
                    if(this.getQueryVariable("id")){
                        api="http://114.116.53.43/api/cradles/"+this.getQueryVariable("id")
                        method="put"
                    }
                    else{
                        api='http://114.116.53.43/api/cradles'
                        method="post"
                    }
                    axios({
                        method: method,
                        url:api,
                        headers:{
                            'Content-Type': 'application/json',
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                        data:JSON.stringify(bundle),
                    }).then(
                        response=>{
                            console.log(response);
                            alert("操作成功");
                            var id=response.data.id
                            window.location.replace('create_cradle.html?id='+id)
                        }
                    ).catch(function (error) {
                        console.log(error.response)
                        if(error.response.status==400){
                            if(!error.response.data.message){
                                window.location.href="login.html?type=1";
                                return;
                            } 
                        }
                        else if(error.response.status==403){
                            alert("您没有相应权限");
                        }
                        alert("发布失败");
                    }.bind(this));
                },
                getcradle:function(id){
                    axios({
                        method: 'get',
                        url:'http://114.116.53.43/api/cradles/'+id,
                        headers:{
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                        
                    }).then(
                        response=>{
                            //debugger
                            if(response.data.sponsor.id!=window.localStorage["id"]){
                                alert("您没有权限")
                                window.history.back(-1)
                            }
                            this.title=response.data.title;
                            this.body=response.data.body;
                            console.log(response)
                            this.timelines=response.data.ddls
                        }
                    ).catch(function (error) {
                        if(error.response.status==400&&!error.response.data.message){
                            window.location.href="login.html?type=1" 
                        }
                    }.bind(this));
                },
                submit_ddl(){
                    var time=this.ddl_time
                    if(time==""){
                        alert("请填写完整的时间")
                        return
                    }
                    debugger
                    time=time.replace('T',' ')
                    var bundle={
                        body:this.ddl_content,
                        deadline:time,
                        cradle:this.getQueryVariable("id")
                    };
                   
                    axios({
                        method: 'post',
                        url:'http://114.116.53.43/api/ddls',
                        headers:{
                            'Content-Type': 'application/json',
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                        data:JSON.stringify(bundle),
                    }).then(
                        response=>{
                            console.log(response);
                            alert("操作成功");
                            window.location.reload();
                        }
                    ).catch(function (error) {
                        console.log(error.response)
                        if(error.response.status==400){
                            if(!error.response.data.message){
                                window.location.href="login.html?type=1";
                                return;
                            } 
                        }
                        alert("发布失败");
                    }.bind(this));
                },
                delete_ddl:function(x){
                    axios({
                        method: 'delete',
                        url:'http://114.116.53.43/api/ddls/'+x,
                        headers:{
                            'Content-Type': 'application/json',
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                    }).then(
                        response=>{
                            alert("删除成功");
                            console.log(response)
                            window.location.reload();
                        }
                    ).catch(function (error) {
                        console.log(error.response)
                        if(error.response.status==400){
                            if(!error.response.data.message){
                                window.location.href="login.html?type=1";
                                return;
                            } 
                        }
                        else if(error.response==404){
                            alert("该DDL不存在或已被删除");
                        }
                    }.bind(this));  
                }
               
            },
            mounted(){
                if(!window.localStorage["dark"]||window.localStorage["dark"]=="false"){
                    this.darkmode=false;
                }
                else{
                    this.darkmode=true;
                }
                document.querySelector('body').style.backgroundColor=this.styleobject.background;
                document.querySelector('body').style.color=this.styleobject.content;
                document.querySelector('body').style.backgroundImage=this.styleobject.bgpic;
                document.querySelector('body').style.backgroundAttachment="fixed";
                document.querySelector('body').style.backgroundSize='cover';
                if(this.getQueryVariable("id")){
                    this.edit=true
                    var id=this.getQueryVariable("id")
                    this.getcradle(id)
                }
            }
        })
    </script>
    <link rel="stylesheet" type="text/css" href="static/css/header.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <style>
        .btn-primary {
        	background-color: #2e4e7e;
        	border-color: #2e4e7e;
        }
        .middle{
            width: 80%;
            margin:0 auto;
            padding: 2%;
        }
    </style>
</html>