<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
        <title>首页</title>
    </head>
    <body>
        <!--body的属性使用的是jquery在mount中配置-->
        <div id='app'>
            <!--粘性标题栏-->
            <div class="container-fluid header" v-bind:style="{'background-color':styleobject.front}">
                <!--img src="static/img/guard.png" style="height:60px;width:60px; margin:5px;"-->
                <div class="header-content" style="display:inline-block;">首页</div>
                <button  v-bind:class="{btn:true,'btn-primary':!darkmode,'btn-success':darkmode}"  style="float:right;height:100%;" v-on:click="switchtheme">切换主题</button>
                <!--div style="float: right;width:40%;margin-top: 20px;">
                        <input class="form-control" v-bind:style="{display:'inline-block',width:'80%','background-color':styleobject.front,color:styleobject.content}" >
                        <button  v-bind:class="{btn:true,'btn-primary':!darkmode,'btn-success':darkmode}"
                        style="vertical-align:bottom;">搜索</button>
                </div--> 

                
                
            </div>
            <!--主体-->
            <div class="container-fluid" style="margin-top:30px;vertical-align: top;">
                <!--左侧悬浮标题栏-->
                <div style="width:14%;display:inline-block;vertical-align: top;">
                    <div class="main left" v-bind:style="{'background-color':styleobject.front,}">
                        <button v-bind:class="{btn:true,leftbutton:true,'btn-primary':!darkmode,'btn-success':darkmode}"
                        v-bind:style="{'border-left':mode==0?'5px solid gray':'none',
                                    'border-right':mode==0?'5px solid gray':'none',
                                    'border-radius':mode==0?'0':'.25rem'}"
                        v-on:click="changemode(0)">微证据热榜</button>
                        <button v-bind:class="{btn:true,leftbutton:true,'btn-primary':!darkmode,'btn-success':darkmode}"
                        v-bind:style="{'border-left':mode==1?'5px solid gray':'none',
                                    'border-right':mode==1?'5px solid gray':'none',
                                    'border-radius':mode==1?'0':'.25rem'}"
                        v-on:click="changemode(1)">微猜想热榜</button>
                        <button v-bind:class="{btn:true,leftbutton:true,'btn-primary':!darkmode,'btn-success':darkmode}"
                        v-bind:style="{'border-left':mode==2?'5px solid gray':'none',
                                    'border-right':mode==2?'5px solid gray':'none',
                                    'border-radius':mode==2?'0':'.25rem'}"
                        v-on:click="changemode(2)">待评审猜想</button>
                        <button v-bind:class="{btn:true,leftbutton:true,'btn-primary':!darkmode,'btn-success':darkmode}"
                        v-bind:style="{'border-left':mode==3?'5px solid gray':'none',
                                    'border-right':mode==3?'5px solid gray':'none',
                                    'border-radius':mode==3?'0':'.25rem'}"
                        v-on:click="changemode(3)">微证据推荐</button>
                        <button v-bind:class="{btn:true,leftbutton:true,'btn-primary':!darkmode,'btn-success':darkmode}"
                        v-bind:style="{'border-left':mode==4?'5px solid gray':'none',
                                    'border-right':mode==4?'5px solid gray':'none',
                                    'border-radius':mode==4?'0':'.25rem'}"
                        v-on:click="changemode(4)">微猜想推荐</button>
                        <!--button v-bind:class="{btn:true,leftbutton:true,'btn-primary':!darkmode,'btn-success':darkmode}"
                        v-bind:style="{'border-left':mode==5?'5px solid gray':'none',
                                    'border-right':mode==5?'5px solid gray':'none',
                                    'border-radius':mode==5?'0':'.25rem'}"
                        v-on:click="changemode(5)">待评审推荐</button-->
                        <button v-bind:class="{btn:true,leftbutton:true,'btn-primary':!darkmode,'btn-success':darkmode}"
                        v-bind:style="{'border-left':mode==6?'5px solid gray':'none',
                                    'border-right':mode==6?'5px solid gray':'none',
                                    'border-radius':mode==6?'0':'.25rem'}"
                        v-on:click="changemode(6)">关注动态</button>
                        <button v-bind:class="{btn:true,leftbutton:true,'btn-primary':!darkmode,'btn-success':darkmode}"
                        v-bind:style="{'border-left':mode==7?'5px solid gray':'none',
                                    'border-right':mode==7?'5px solid gray':'none',
                                    'border-radius':mode==7?'0':'.25rem'}"
                        v-on:click="changemode(7)">项目孵化器</button>
                    </div>
                </div>

                <!--中部内容-->
                <div class="middle" >
                    <template v-if="mode!=6&&mode!=7">
                        <!--渲染核心条目-->
                        <template v-for="item in maindata">
                            <div class="item card" v-on:click="item_click(item.id)" style="cursor: pointer;">
                                <div v-bind:class="styleobject.itemheaderclass">{{item.header}}
                                    <span v-if="item.evidence_state&& item.state==0" v-bind:class="{badge:true,'badge-warning':true}">评审中</span>
                                    <span v-if="item.evidence_state&&item.state==-1" v-bind:class="{badge:true,'badge-danger':true}">未通过</span>
                                    <span v-if="item.evidence_state&&item.state==1" v-bind:class="{badge:true,'badge-success':true}">已通过</span>
                                    <br>
                                    <span v-for="badge in item.badges" class="badge badge-pill badge-info mybadge">{{badge}}</span>
                                    <span v-if="item.hot" class="badge badge-danger mybadge">HOT</span>
                                </div>
                                <div v-bind:class="styleobject.itembodyclass">{{item.content}}</div>
                            </div>
                        </template> 
                        
                    </template>

                    <template v-else-if="mode==6">
                        <!--顶部导航栏-->
                        <nav v-bind:class="{navbar:true,'navbar-expand-sm':true ,'navbar-dark':true,main:true,'bg-primary':!darkmode,'bg-success':darkmode}" style="width:100%;margin:0 auto;margin-bottom:10px;">
                            <ul class="navbar-nav">
                              <li v-bind:class="{'nav-item':true,'active':submode==0}" style="cursor: pointer;" v-on:click="changesubmode(0)">
                                <span class="nav-link" >微证据</span>
                              </li>
                              <li v-bind:class="{'nav-item':true,'active':submode==1}" style="cursor: pointer;" v-on:click="changesubmode(1)">
                                <span class="nav-link" >微猜想</span>
                              </li>
                            </ul>
                          </nav>
                        <template v-for="item in maindata">
                            <div class="item card" v-on:click="item_click(item.id)" style="cursor: pointer;">
                                <div v-bind:class="styleobject.itemheaderclass">{{item.header}}
                                    <span v-if="item.evidence_state&& item.state==0" v-bind:class="{badge:true,'badge-warning':true}">评审中</span>
                                    <span v-if="item.evidence_state&&item.state==-1" v-bind:class="{badge:true,'badge-danger':true}">未通过</span>
                                    <span v-if="item.evidence_state&&item.state==1" v-bind:class="{badge:true,'badge-success':true}">已通过</span>
                                    <br>
                                    <span v-for="badge in item.badges" class="badge badge-pill badge-info mybadge">{{badge}}</span>
                                    <span v-if="item.hot" class="badge badge-danger mybadge">HOT</span>
                                </div>
                                <div v-bind:class="styleobject.itembodyclass">{{item.content}}</div>
                            </div>
                        </template> 
                    </template>
                    <template v-else-if="mode==7">
                        <template v-for="item in maindata">
                            <div class="item card" v-on:click="item_click(item.id)" style="cursor: pointer;">
                                <div v-bind:class="styleobject.itemheaderclass">{{item.header}}</div>
                                <div v-bind:class="styleobject.itembodyclass">
                                    项目简介:{{item.content}}
                                    <hr v-bind:style="{border:'1px solid '+styleobject.content,margin:'2px'}">
                                    赞助人:{{item.sponsor}}项目发起时间:{{item.time}}

                                </div>
                                
                            </div>
                        </template> 
                    </template>
                    <div class="main"  v-bind:style="{'background-color':styleobject.front,'width':'100%', height:'40px', 'text-align':'center', 'font-size':'15px', 'padding':'7px','cursor':'pointer'}"
                    v-on:click="moreitem()">{{hasnext?'点击加载更多':'已经没有更多了'}}</div>
                    <div style="height:40px;"></div>
                    
                </div>

                <!--右侧个人信息界面-->
                <div class="right">
                    <div class="main rightbar" v-bind:style="{'background-color':styleobject.front,'text-align': 'center'}">
                        <img v-bind:src="userinfo.avatar?userinfo.avatar:'static/img/avater.jpg'" class="avatar">
                        <hr v-bind:style="{border:'1px solid '+styleobject.content,margin:'2px'}">
                        你好,{{userinfo.valid?userinfo.username:'游客'}}<br>
                        <span v-if="userinfo.confirmed" class="badge badge-primary">已注册</span>
                        <span v-if="userinfo.valid&&userinfo.administrator"class="badge badge-warning">管理员</span>
                        <span v-if="userinfo.valid&&userinfo.forbidden" class="badge badge-danger">封禁中</span>
                        <span v-if="userinfo.valid&&userinfo.role_name" class="badge badge-success">{{userinfo.role_name}}</span>
                        <table style="width:100%" v-if="userinfo.valid">
                            <thead>
                                <th>微知识</th>
                                <th>关注Ta</th>
                                <th>Ta关注</th>
                            </thead>
                            <tbody><tr>
                                <td>{{userinfo.micropub}}</td>
                                <td>{{userinfo.followed}}</td>
                                <td>{{userinfo.following}}</td>
                            </tr></tbody>
                        </table>
                        <div style="height:5px"></div>
                        <div class="btn-group-vertical" style="display: block;width:90%;margin: 0 auto;">
                            <button v-if="userinfo.valid" v-bind:class="{btn:true,'btn-outline-primary':!darkmode,'btn-outline-success':darkmode}" onclick="window.location.href='evidence_create.html'">创建微证据</button>

                            <button v-if="userinfo.valid" v-bind:class="{btn:true,'btn-outline-primary':!darkmode,'btn-outline-success':darkmode}" onclick="window.location.href='hypothesis_create.html'">创建微猜想</button>
                            <button v-if="userinfo.valid&&userinfo.role_id==5" v-bind:class="{btn:true,'btn-outline-primary':!darkmode,'btn-outline-success':darkmode}" onclick="window.location.href='create_cradle.html'">创建孵化项目</button>

                            <button v-if="userinfo.valid" v-bind:class="{btn:true,'btn-outline-primary':!darkmode,'btn-outline-success':darkmode}" onclick="window.open('usercenter.html')">个人中心</button>

                            <button v-if="userinfo.valid" v-bind:class="{btn:true,'btn-outline-primary':!darkmode,'btn-outline-success':darkmode}" onclick="window.open('message.html')">我的站内信
                            ({{info.unread_messages_count}})</button>


                            <button v-if="userinfo.valid" v-bind:class="{btn:true,'btn-outline-primary':!darkmode,'btn-outline-success':darkmode}" onclick="window.open('systeminfo.html')">系统消息
                            ({{info.unread_followeds_microcons_count+info.unread_followeds_micropubs_count+
                                info.unread_microcons_likes_count+info.unread_micropubs_likes_count+
                                info.unread_recived_comments_count}})</button>

                                
                            <button v-if="userinfo.valid" v-bind:class="{btn:true,'btn-outline-primary':!darkmode,'btn-outline-success':darkmode}"
                            v-on:click="logout">登出</button>

                            <button v-if="!userinfo.valid" v-bind:class="{btn:true,'btn-outline-primary':!darkmode,'btn-outline-success':darkmode}" onclick="window.location.href='login.html?type=1'">登录</button>

                        </div>
                        <button v-if="userinfo.administrator" class="btn btn-warning" onclick="window.location.href='admin_index.html'" style="width: 90%;margin: 5px auto;">管理员后台</button>
                        <div style="height:5px"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        /*当前存在的问题
            1.读者和发布者权限区分不明确
            2.除index页外的“加载更多”的位置定位错误（$nextTick位置错了）
            3.除index页外的标签设置位置不合理
        */
        var app=new Vue({
            el:"#app",
            data:{
                //主题颜色配置
                darkmode:false,
                lightcolor:{
                    front:"white",
                    background:"#f6f6f6",
                    content:"#2e4e7e",
                    alert:"alert alert-primary",
                    alerterror:'alert alert-danger',
                    bgpic:"url('static/img/bg.png')",
                    itembodyclass:['item-body'],
                    itemheaderclass:['item-header','bg-primary','text-white'],
                },
                darkcolor:{
                    //front:"#282561",
                    front:"#3e3e3e",
                    background:"black",
                    content:"rgb(40,167,69)",
                    alert:"alert alert-success",
                    alerterror:'alert alert-danger',
                    bgpic:"url('static/img/bgdark.png')",
                    itembodyclass:['item-body','bg-dark'],
                    itemheaderclass:['item-header','bg-success','text-white'],
                },
                //当前是哪一类页面 从微证据热榜到关注动态依次是0-6
                mode:0,
                submode:0,
                //要渲染的数据
                maindata:[],
                userinfo:{valid:false},
                //页面指针
                currentpage:0,
                hasnext:true,
                info:{
                    unread_messages_count:0,
                    unread_microcons_likes_count:0,
                    unread_micropubs_likes_count:0,
                    unread_followeds_microcons_count:0,
                    unread_followeds_micropubs_count:0,
                    unread_recived_comments_count:0,
                },
                mineavatar:window.localStorage["avatar"],
            },
            computed:{
                styleobject:function(){
                    if(this.darkmode){
                        return this.darkcolor;
                    }
                    else{
                        return this.lightcolor;
                    }
                },  
            },
            methods:{
                switchtheme:function(){
                    this.darkmode=!this.darkmode;
                    document.querySelector('body').style.backgroundColor=this.styleobject.background;
                    document.querySelector('body').style.color=this.styleobject.content;
                    document.querySelector('body').style.backgroundImage=this.styleobject.bgpic;
                    window.localStorage["dark"]=this.darkmode;
                },
                //切换模式
                changemode:function(x){
                    /*if(x==3||x==4){
                        alert("该功能暂未上线，敬请期待")
                    }*/
                    this.mode=x;
                    this.maindata.splice(0,this.maindata.length);
                    this.currentpage=0;
                    this.hasnext=true
                    this.getmaindata();
                    
                },
                changesubmode:function(x){
                    this.submode=x
                    this.maindata.splice(0,this.maindata.length);
                    this.currentpage=0;
                    this.hasnext=true;
                    this.getmaindata();
                },
                //加载更多
                moreitem:function(){
                    //记住页面位置
                    var tmp=document.documentElement.scrollTop
                    this.getmaindata();
                    debugger
                    //DOM更新完成之后再跳回到原来的位置
                    this.$nextTick(
                        ()=>{
                            debugger;
                            document.documentElement.scrollTop=tmp;
                            }
                        )
                },
                //渲染数据
                getmaindata:function(){
                    if(this.mode==6){
                        this.get_following();
                    }
                    else if(this.mode==7){
                        this.get_cradle();
                    }
                    else{
                        var api="";
                        this.currentpage++;
                        switch(this.mode){
                            case 0:
                                api='http://114.116.53.43/api/micropubs/hot?page='+this.currentpage+'&per_page=10'
                                break;
                            case 1:
                                api='http://114.116.53.43/api/microcons/hot?page='+this.currentpage+'&per_page=10'
                                break;
                            case 2:
                                api='http://114.116.53.43/api/microcons?status=0&page='+this.currentpage+'&per_page=10'
                                break;
                            case 3:
                                if(!window.localStorage["id"]){
                                    window.location.href="login.html?type=1" 
                                }
                                api='http://114.116.53.43/api/users/'+window.localStorage["id"]+'/recommend-micropubs?page='+this.currentpage+'&per_page=10'
                                break;
                            case 4:
                                if(!window.localStorage["id"]){
                                    window.location.href="login.html?type=1" 
                                }
                                api='http://114.116.53.43/api/users/'+window.localStorage["id"]+'/recommend-microcons?page='+this.currentpage+'&per_page=10'
                                break;
                            /*case 5:
                                if(!window.localStorage["id"]){
                                    window.location.href="login.html?type=1" 
                                }
                                api='http://114.116.53.43/api/users/'+window.localStorage["id"]+'/recommend-microcons?page='+this.currentpage+'&per_page=10'
                                break;*/
                        }
                        if(api==""){
                            return
                        }
                        if(!this.hasnext){
                            return
                        }
                        axios({
                            method: 'get',
                            url:api,
                            headers:{
                                'Cache-Control': 'no-cache',
                                'Authorization':'Bearer '+window.localStorage["token"],
                            },
                            
                        }).then(
                            response=>{
                                console.log(response)
                                debugger
                                this.hasnext=response.data._links.next!=null;
                                var tmpHeight=document.documentElement.scrollTop
                                for(var i=0;i<response.data.items.length;i++){
                                    
                                    var tmp={
                                        id:response.data.items[i].id,
                                        header:response.data.items[i].title,
                                        content:response.data.items[i].summary,
                                        badges:response.data.items[i].tags,
                                        hot:false,
                                    }
                                    if(this.mode==1||this.mode==4||this.mode==2||this.mode==5){
                                        tmp.evidence_state=true;
                                        tmp.state=response.data.items[i].status;
                                    }
                                    this.maindata.push(tmp)
                                }
                                this.$nextTick(
                                ()=>{
                                    document.documentElement.scrollTop=tmpHeight;
                                    }
                                )
                            }
                        ).catch(function (error) {
                            if(error.response.status==400&&!error.response.data.message){
                                window.location.href="login.html?type=1" 
                            }
                            else{
                                //alert("发生错误")
                            }
                        }.bind(this));
                    }
                },
                //获取用户信息
                getuserinfo:function(){
                    if(!window.localStorage["token"]){
                        return;
                    }
                    axios({
                        method: 'get',
                        url:'http://114.116.53.43/api/users/'+window.localStorage["id"],
                        headers:{
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                    }).then(
                        response=>{
                            console.log(response)
                            this.userinfo={
                                valid:true,
                                confirmed:response.data.confirmed,
                                username:response.data.username,
                                forbidden:response.data.role_id==1,
                                administrator:response.data.role_id==4,
                                micropub:response.data.micropubs_count,
                                followed:response.data.followers_count,
                                following:response.data.followeds_count,
                                avatar:response.data._links.avatar,
                                role_id:response.data.role_id
                            }
                            if(response.data.role_id!=1&&response.data.role_id!=4){
                                this.userinfo.role_name=response.data.role_name;
                            }
                            window.localStorage["avatar"]=response.data._links.avatar;
                        }
                        
                    ).catch(function (error) {
                        //alert("发生错误");
                        console.log(error.response)
                    }.bind(this));
                },
                logout:function(){
                    window.localStorage["token"]="";
                    window.localStorage["id"]=""
                    this.userinfo={valid:false};
                    this.changemode(0);
                },
                get_following:function(){
                    if(!this.hasnext){
                        return;
                    }
                    this.currentpage++
                    var api="";
                    if(this.submode==0){
                        api='http://114.116.53.43/api/users/'+window.localStorage["id"]+'/followeds-micropubs?page='+this.currentpage+'&per_page=10';
                    }
                    else{
                        api='http://114.116.53.43/api/users/'+window.localStorage["id"]+'/followeds-microcons?page='+this.currentpage+'&per_page=10';
                    }
                    // toso test api
                    axios({
                        method: 'get',
                        url:api,
                        headers:{
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                        
                    }).then(
                        response=>{
                            //debugger
                            console.log(response)
                            this.hasnext=response.data._links.next!=null;
                            for(var i=0;i<response.data.items.length;i++){
                                var tmp={
                                    id:response.data.items[i].id,
                                    header:response.data.items[i].title,
                                    content:response.data.items[i].summary,
                                    badges:response.data.items[i].tags,
                                }
                                if(this.submode==1){
                                    tmp.evidence_state=true;
                                    tmp.state=response.data.items[i].status;
                                }
                                this.maindata.push(tmp)
                            }
                        }
                    ).catch(function (error) {
                        if(error.response.status==400&&!error.response.data.message){
                            window.location.href="login.html?type=1" 
                        }
                        else{
                            //alert("发生错误");
                        }
                    }.bind(this));
                },
                get_cradle:function(){
                    if(!this.hasnext){
                        return;
                    }
                    this.currentpage++
                    var api='http://114.116.53.43/api/cradles?page='+this.currentpage+'&per_page=10';

                   
                    // toso test api
                    axios({
                        method: 'get',
                        url:api,
                        headers:{
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                        
                    }).then(
                        response=>{
                            //debugger
                            console.log(response)
                            this.hasnext=response.data._links.next!=null;
                            for(var i=0;i<response.data.items.length;i++){
                                var tmp={
                                    header:response.data.items[i].title,
                                    content:response.data.items[i].body,
                                    id:response.data.items[i].id,
                                    sponsor:response.data.items[i].sponsor.username,
                                    time:response.data.items[i].timestamp
                                }
                                this.maindata.push(tmp)
                            }
                        }
                    ).catch(function (error) {
                        if(error.response.status==400&&!error.response.data.message){
                            window.location.href="login.html?type=1" 
                        }
                        else{
                            //alert("发生错误");
                        }
                    }.bind(this));
                },
                item_click:function(x){
                    if(this.mode==0||this.mode==3){
                        window.open("evidence_detail.html?id="+x)
                    }
                    else if(this.mode==1||this.mode==4||this.mode==2||this.mode==5){
                        window.open("hypothesis_detail.html?id="+x)
                    }
                    else if(this.mode==6){
                        if(this.submode==0){
                            window.open("evidence_detail.html?id="+x)
                        }
                        else{
                            window.open("hypothesis_detail.html?id="+x)
                        }
                    }
                    else if(this.mode==7){
                        window.open("cradle.html?id="+x)
                    }
                },
                load_notifications(){
                    if(!window.localStorage["id"]){
                        return
                    }
                    axios({
                        method: 'get',
                        url:'http://114.116.53.43/api/users/'+window.localStorage["id"]+'/notifications',
                        headers:{
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                        
                    }).then(
                        response=>{
                            console.log(response);
                            for(var i=0;i<response.data.length;i++){
                                if(response.data[i].name=="unread_microcons_likes_count"){
                                    this.info.unread_microcons_likes_count=response.data[i].payload;
                                }
                                else if(response.data[i].name=="unread_micropubs_likes_count"){
                                    this.info.unread_micropubs_likes_count=response.data[i].payload;
                                }
                                else if(response.data[i].name=="unread_followeds_microcons_count"){
                                    this.info.unread_followeds_microcons_count=response.data[i].payload;
                                }
                                else if(response.data[i].name=="unread_followeds_micropubs_count"){
                                    this.info.unread_followeds_micropubs_count=response.data[i].payload;
                                }
                                else if(response.data[i].name=="unread_recived_comments_count"){
                                    this.info.unread_recived_comments_count=response.data[i].payload;
                                }
                                else if(response.data[i].name=="unread_messages_count"){
                                    this.info.unread_messages_count=response.data[i].payload;
                                }
                            }
                        }
                    ).catch(function (error) {
                        //debugger
                        console.log(error.response);
                    }.bind(this));
                },

               
            },
            mounted(){
                if(!window.localStorage["dark"]||window.localStorage["dark"]=="false"){
                    this.darkmode=false;
                }
                else{
                    this.darkmode=true;
                }
                //挂载背景图
                document.querySelector('body').style.backgroundColor=this.styleobject.background;
                document.querySelector('body').style.color=this.styleobject.content;
                document.querySelector('body').style.backgroundImage=this.styleobject.bgpic;
                document.querySelector('body').style.backgroundAttachment="fixed";
                document.querySelector('body').style.backgroundSize='cover';
                window.onpageshow=event=>{this.getmaindata();this.getuserinfo();this.load_notifications();}                
            }
        })
    </script>
    <link rel="stylesheet" type="text/css" href="static/css/header.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <style>
        .left{
            width:14%;
            height:auto;
            margin-top:20px;
            padding-top:15px;
            padding-bottom:15px;
            display:inline-block;
            position:fixed;
            left:0;
            vertical-align: top;
        }
        .middle{
            width:60%;
            height:auto;
            margin:0 auto;
            display:inline-block;
            margin-left:2%;
            opacity:0.9;
        }
        .right{
            width:20%;
            height:100%;
            margin:0 auto;
            display:inline-block;
            margin-left:2%;
            opacity:0.9;
            vertical-align: top;
            padding:0;
        }
        .rightbar{
            width:100%;
            height:auto;
            box-shadow:0 1px 3px rgba(26,26,26,.5);
            padding-top:10px;
            display: block;
        }
        .leftbutton{
            width:95%;
            margin:2px;
            outline:none;
        }
        .item{
            width:100%;
            margin:0px auto;
            box-shadow:0 1px 3px rgba(26,26,26,.3);
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            border:none;
        }
        .item-header{
            height:auto;
            font-size:25px;
            padding:3px;
            overflow: hidden;
            padding-left: 1.25rem;
        }
        .item-body{
            height:70px;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            font-size: 15px;
        }
        .avatar{
            margin:0 auto;
            display: block;
            height:100px;
            width:100px;
            opacity: 1;
        }
        .mybadge{
            font-size: 15px;
            vertical-align: middle;
        }
		.btn-primary {
			background-color: #2e4e7e;
			border-color: #2e4e7e;
		}
		.btn-outline-primary {
			color: #2e4e7e;
			border-color: #2e4e7e;
		}
		.bg-primary {
			background-color: #2e4e7e !important;
		}
    </style>
</html>