<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
        <title>站内信</title>
    </head>
    <body>
        <div id='app'>
            <!--粘性标题栏-->
            <div class="container-fluid header" v-bind:style="{'background-color':styleobject.front}">
                <img v-bind:src="darkmode?'static/img/dark_home.png':'static/img/light_home.png'"
                    style="width: 50px;height: 50px;margin-top:5px;vertical-align: top;" class="main"
                    onclick="window.location.href='index.html'">
                <!--img src="static/img/guard.png" style="height:60px;width:60px; margin:5px;"-->
                <div class="header-content" style="display:inline-block;">站内信</div>
                <button  v-bind:class="{btn:true,'btn-primary':!darkmode,'btn-success':darkmode}"  style="float:right;height:100%;" v-on:click="switchtheme">切换主题</button>
                <div class="dropdown" style="float:right">
                    <div class="main dropdown-toggle" data-toggle="dropdown" style="width: 75px;height:60px;margin:5px;float: right;padding: 5px;">
                        <img v-bind:src="mineavatar?mineavatar:'static/img/avater.jpg'" 
                        style="width:50px;height:50px;">
                    </div>
                    <div class="dropdown-menu" v-bind:style="{'background-color':styleobject.front }">
                        <a class="dropdown-item" href="index.html" v-bind:style="{color:styleobject.content}">首页</a>
                        <a class="dropdown-item" href="usercenter.html" v-bind:style="{color:styleobject.content}">个人中心</a>
                        <!--div class="dropdown-divider"></div-->
                    </div>
                </div>
            </div>
            <!--主体-->
            <div class="container-fluid" style="margin-top:30px;" id="body" > 
                <!--消息列表-->
                <div id="left" class="main" v-bind:style="{'background-color':styleobject.background}" v-show="!assigned_id">
                    <template v-for="msg in message_list">
                        <div class="leftbar main" v-bind:style="{'background-color':styleobject.front}" v-on:click="left_click(msg.user_id)">
                            <img v-bind:src="msg.avatar?msg.avatar:'static/img/avater.jpg'" class="avatar main">
                            <div class="leftbarbox">
                                <span style="font-size: 25px;">{{msg.user_name}}</span><br>
                                <span style="font-size: 15px;">{{msg.newmsg?'(新消息)':''}} {{msg.content}}</span>
                            </div>
                        </div>
                    </template>
                </div>
                <!--聊天界面-->

                <div id="right"  v-show="detail" class="main" v-bind:style="{'width':assigned_id?'100%':'63%'}">
                    <div class="rightcontent" v-bind:style="{'background-color':styleobject.background}">
                        <div class="main moremsg"  v-bind:style="{'background-color':styleobject.front}" v-on:click="get_detail(false)"
                        v-show="detail_page!=0">点击加载更多</div>
                        <div class="rightbar " v-for="msg in message_detail" v-bind:style="{float:msg.me?'right':'none'}">
                            <img v-bind:src="msg.avatar?msg.avatar:'static/img/avater.jpg'" class=" main" v-bind:style="{float:msg.me?'right':'none',height:'50px'}">
                            <div class="rightbox main" v-bind:style="{float:msg.me?'right':'none'}">
                                {{msg.content}}<br>
                                <span style="float:right;font-size: 10px;">{{msg.time}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="bottombar main" v-bind:style="{'background-color':styleobject.front}">
                        <textarea type="input" class="sendbox form-control " v-bind:style="{'background-color':styleobject.front,color:styleobject.content,'height':'80%',border:'2px solid '+styleobject.content}" v-model="send_msg"></textarea>
                        <button v-bind:class="{btn:true,leftbutton:true,'btn-primary':!darkmode,'btn-success':darkmode}"
                        style="height:80%;width: 18%;margin:2px;margin-top: 8px;float: right;" v-on:click="send">发送</button>
                    </div>
                </div>

            </div>
        </div>
    </body>
    <script>
        var app=new Vue({
            el:"#app",
            data:{
                //主题颜色配置
                darkmode:false,
                lightcolor:{
                    front:"white",
                    background:"#f6f6f6",
                    content:"#2e4e7e",
                    alert:"alert alert-primary",
                    alerterror:'alert alert-danger',
                    bgpic:"url('static/img/bg.png')"
                },
                darkcolor:{
                    //front:"#282561",
                    front:"#3e3e3e",
                    background:"black",
                    content:"#28a745",
                    alert:"alert alert-success",
                    alerterror:'alert alert-danger',
                    bgpic:"url('static/img/bgdark.png')"
                },
                //消息列表
                message_list:[],
                message_detail:[],
                detail:false,
                detail_id:0,
                receive_page:0,
                send_page:0,
                receive_hasnext:true,
                send_hasnext:true,
                send_msg:"",
                detail_page:0,
                detail_totalpage:0,
                assigned_id:false,
                mineavatar:window.localStorage["avatar"],
            },
            computed:{
                styleobject:function(){
                    if(this.darkmode){
                        return this.darkcolor;
                    }
                    else{
                        return this.lightcolor;
                    }
                },  
            },
            methods:{
                //这个里面应该是有Bug的，因为好像js里没有同步锁？
                left_click:function(x){
                    this.detail_id=x;
                    this.detail=true;
                    this.get_first_detail(false);
                },
                switchtheme:function(){
                    this.darkmode=!this.darkmode;
                    document.querySelector('body').style.backgroundColor=this.styleobject.background;
                    document.querySelector('body').style.color=this.styleobject.content;
                    document.querySelector('body').style.backgroundImage=this.styleobject.bgpic;
                    window.localStorage["dark"]=this.darkmode;
                },
                //左侧的会话列表获取
                get_messagelist:function(){
                    if(this.receive_hasnext){
                        this.receive_page++;
                        axios({
                            method: 'get',
                            url:'http://114.116.53.43/api/users/'+window.localStorage["id"]+'/messages-list?page='+this.receive_page+'&per_page=10',
                            headers:{
                                'Cache-Control': 'no-cache',
                                'Authorization':'Bearer '+window.localStorage["token"],
                            },   
                        }).then(
                            response=>{
                                this.receive_hasnext=response.data._links.next!=null;
                                debugger
                                for(var i=0;i<response.data.items.length;i++){
                                    var tmp={
                                        id:response.data.items[i].id,
                                        content:response.data.items[i].body,
                                        user_id:response.data.items[i].sender.id,
                                        user_name:response.data.items[i].sender.username,
                                        
                                    }
                                    debugger
                                    if(response.data.items[i].sender.id==window.localStorage["id"]){
                                        tmp["user_id"]=response.data.items[i].recipient.id
                                        tmp['user_name']=response.data.items[i].recipient.username
                                        tmp.avatar=response.data.items[i].recipient._links.avatar;
                                    }
                                    else{
                                        tmp["user_id"]=response.data.items[i].sender.id
                                        tmp['user_name']=response.data.items[i].sender.username
                                        tmp.avatar=response.data.items[i].sender._links.avatar;
                                        tmp.newmsg=response.data.items[i].is_new;
                                    }
                                  
                                    this.message_list.push(tmp)
                                }
                            }
                        ).catch(function (error) {
                            if(error.response.status==400){
                                window.location.href="login.html?type=1" 
                            }
                            else if(error.response.status==404){
                                window.location.href="login.html"
                            }
                        }.bind(this));
                    }
                },
                //右侧的会话界面进行重新获取，ref参数表示是不是在进行对最后一页刷新
                get_first_detail(ref){
                    if(!ref){
                        this.message_detail.splice(0,this.message_detail.length);
                    }
                    axios({
                            method: 'get',
                            url:'http://114.116.53.43/api/users/'+window.localStorage["id"]+'/history-messages?page='+1+'&per_page=10&from='+this.detail_id,
                            headers:{
                                'Cache-Control': 'no-cache',
                                'Authorization':'Bearer '+window.localStorage["token"],
                            },
                        }).then(
                            response=>{
                                if(ref){
                                    //说明刷新最新消息时 新的消息进入了下一页。
                                    if(response.data._meta.total_pages>this.detail_totalpage){
                                        this.message_detail.splice(0,this.message_detail.length);
                                    }
                                }
                                this.detail_page=this.detail_totalpage=response.data._meta.total_pages;
                                this.get_detail(ref);
                            }
                        ).catch(function (error) {
                            //console.log()
                            if(error.response.status==400){
                                window.location.href="login.html?type=1" 
                            }
                            else if(error.response.status==404){
                                window.location.href="login.html"
                            }
                            //console.log(error.response);
                        }.bind(this));
                     
                },
                get_detail(ref){
                    if(this.detail_page==0){
                        return;
                    }
                    var distance_to_bottom=document.getElementsByClassName("rightcontent")[0].scrollHeight
                    axios({
                            method: 'get',
                            url:'http://114.116.53.43/api/users/'+window.localStorage["id"]+'/history-messages?page='+this.detail_page+'&per_page=10&from='+this.detail_id,
                            headers:{
                                'Cache-Control': 'no-cache',
                                'Authorization':'Bearer '+window.localStorage["token"],
                            },
                            
                        }).then(
                            response=>{
                                this.detail_page--;
                                this.detail_totalpage=response.data._meta.total_pages;
                                //console.log(response)
                                if(ref){
                                    if(response.data.items.length==this.message_detail.length){
                                        return;
                                    }
                                    else{
                                        this.message_detail.splice(0,this.message_detail.length);
                                    }
                                }
                                for(var i=response.data.items.length-1;i>=0;i--){
                                    var me=false;
                                    if(response.data.items[i].sender.id==window.localStorage["id"]){
                                        me=true
                                    }
                                    this.message_detail.unshift({
                                        id:response.data.items[i].id,
                                        content:response.data.items[i].body,
                                        confirmed:response.data.items[i].confirmed,
                                        user_id:response.data.items[i].sender.id,
                                        user_name:response.data.items[i].sender.username,
                                        avatar:response.data.items[i].sender._links.avatar,
                                        me:me,
                                        time:response.data.items[i].timestamp,
                                    })
                                }
                                this.$nextTick(()=>{document.getElementsByClassName("rightcontent")[0].scrollTop=
                                document.getElementsByClassName("rightcontent")[0].scrollHeight-distance_to_bottom;})
                                
                            }
                        ).catch(function (error) {
                            if(error.response.status==400){
                                window.location.href="login.html?type=1" 
                            }
                            else if(error.response.status==404){
                                window.location.href="login.html"
                            }
                        }.bind(this));
                     
                },
                send:function(){
                    if(this.send_msg==""){
                        return;
                    }
                    var bundle={
                        recipient_id:this.detail_id,
                        body:this.send_msg,
                    }

                    axios({
                        method: 'post',
                        url:'http://114.116.53.43/api/messages',
                        headers:{
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                            'Content-Type': 'application/json',
                        },
                        data:JSON.stringify(bundle),
                    }).then(
                        response=>{
                            //alert("发送成功");
                            this.send_msg="";
                            this.get_first_detail(false);
                            document.getElementsByClassName("rightcontent")[0].scrollTop=document.getElementsByClassName("rightcontent")[0].scrollHeight;
                        }
                        
                    ).catch(function (error) {
                        if(error.response.status==400){
                            if(!error.response.data.message){
                                //没有message 是登录失败
                                window.location.href="login.html?type=1"
                            } 
                            else {
                                alert("错误")
                            }
                        }
                       
                    }.bind(this));
                },
                refresh:function(){
                    if(this.detail&&this.detail_page==this.detail_totalpage-1){
                        this.get_first_detail(true);
                    }
                },
                getQueryVariable:function (variable){
                    var query = window.location.search.substring(1);
                    var vars = query.split("&");
                    for (var i=0;i<vars.length;i++) {
                        var pair = vars[i].split("=");
                        if(pair[0] == variable){return pair[1];}
                    }
                    return(false);
                },
                
            },
            mounted(){
                if(!window.localStorage["dark"]||window.localStorage["dark"]=="false"){
                    this.darkmode=false;
                }
                else{
                    this.darkmode=true;
                }
                document.querySelector('body').style.backgroundColor=this.styleobject.background;
                document.querySelector('body').style.color=this.styleobject.content;
                document.querySelector('body').style.backgroundImage=this.styleobject.bgpic;
                document.querySelector('body').style.backgroundAttachment="fixed";
                document.querySelector('body').style.backgroundSize='cover';
                document.getElementById("left").style.height=window.innerHeight-110+"px";
                document.getElementById("right").style.height=window.innerHeight-110+"px";
                window.onresize=function(){
                    document.getElementById("left").style.height=window.innerHeight-110+"px";
                    document.getElementById("right").style.height=window.innerHeight-110+"px";
                }
                
                if(this.getQueryVariable("id")){
                    this.detail=true;
                    this.assigned_id=true;
                    this.detail_id=this.getQueryVariable("id");
                    this.get_first_detail(false);
                }
                else{
                    this.get_messagelist();
                }
                this.timer=setInterval(this.refresh,10000);
                
            }
        })
    </script>
    <link rel="stylesheet" type="text/css" href="static/css/header.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <style>
        #left{
            font-size: 0;
            width:35%; 
            display: inline-block;
            overflow-y:scroll;
            overflow-x: hidden;
            padding: 0;
        }
        .leftbar{
            width: 99%;
            height:70px;
            margin:0 auto;
            margin-top: 2px;
            padding: 0;
            vertical-align: top;
            /* overflow: hidden; */
        }
        .avatar{
            height:90%;
            margin-top: 3px;
        }
        .leftbarbox{
            width:calc(100% - 90px);
            overflow:hidden;
            display: inline-block;
            height: 100%;
            cursor: pointer;
            vertical-align: top;
            padding-left: 5px;
        }
        #right{
            width:63%;
            overflow-x: hidden;
            display: inline-block;
        }
        .rightcontent{
            opacity: 0.8;
            overflow-y:scroll;
            overflow-x: hidden;
            width:100%;
            height:calc(100% - 100px);
            margin-bottom: 2px;
            font-size: 0;
            padding: 0;
        }
        .bottombar{
            font-size: 0;
            width:100%;
            height:73px;
        }
        .sendbox{
            display: inline-block;
            width:80%;
            margin-top:8px;
            margin-left: 2px;
            vertical-align: top;
        }
        .rightbar{
            width: 99%;
            height:auto;
            margin:10px auto;
            margin-top: 2px;
            padding: 0;
            vertical-align: top;
        }
        .rightbox{
            font-size: 15px;
            margin-left:5px;
            margin-right:5px;
            height:100%;
            display: inline-block;
            vertical-align: top;
            border-radius: 15px;;
            padding:5px;
            max-width: calc(100% - 100px);
        }
        .moremsg{
            padding:2px;
            margin:0 auto;
            width: 80%;
            font-size: 15px;
            text-align: center;
            margin-bottom:10px;
            border-radius: 5px;
        }
		.btn-primary {
			background-color: #2e4e7e;
			border-color: #2e4e7e;
		}
    </style>
</html>