<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
        <title>注册</title>
    </head>
    <body>
        <div id="app" >
            <!--标题栏-->
            <div class="container-fluid header" v-bind:style="{'background-color':styleobject.front}">
                <!--img src="static/img/guard.png" style="height:60px;width:60px; margin:5px;"-->
                <img v-bind:src="darkmode?'static/img/dark_back.png':'static/img/light_back.png'"
                    style="width: 50px;height: 50px;margin-top:5px;vertical-align: top;" class="main"
                    onclick="window.history.back(-1)">
                <div class="header-content" style="display:inline-block;">注册</div>
                <button  v-bind:class="{btn:true,'btn-primary':!darkmode,'btn-success':darkmode}"  style="float:right;height:100%;" v-on:click="switchtheme">切换主题</button>
            </div>
            <!--主体-->
            <div class="container-fluid" style="margin-top:30px;">
                <div class="main" v-bind:style="{
                    width:'80%',
                    height:'auto',
                    margin:'0 auto',
                    'border-radius':'15px',
                    'background-color':styleobject.front
                }">
                    <div style="width:80%;margin:0 auto">
                        <label><h3>账户信息</h3></label><br/>
                        <label>新的账户名</label>
                        <label><span style="font-size: 12px; color:red;">* {{account==''?'账户名不能为空':''}}</span></label>
                        <input type="input" class="form-control" v-bind:style="{'background-color':styleobject.front,color:styleobject.content}" v-model="account">
                        <label>密码</label>
                        <label><span style="font-size: 12px; color:red;">* {{password.length<=7?'密码不得少于八个字符':''}}</span></label>
                        <input type="password" class="form-control" v-bind:style="{'background-color':styleobject.front,color:styleobject.content}" v-model="password">
                        <label>确认密码</label>
                        <label><span style="font-size: 12px; color:red;">* {{password!=repeatpassword?'两次密码不一致':''}}</span></label>
                        <input type="password" class="form-control" v-bind:style="{'background-color':styleobject.front,color:styleobject.content}" v-model="repeatpassword">
                        <label>您的邮箱</label>
                        <label><span style="font-size: 12px; color:red;">* {{email==''?'邮箱不能为空':''}}</span></label>
                        <input type="input" class="form-control" v-bind:style="{'background-color':styleobject.front,color:styleobject.content}" v-model="email">
                        <div style="width:100%;text-align:center">
                            <button  v-bind:class="{btn:true,'btn-primary':!darkmode,'btn-success':darkmode}"
                            style="margin:5px;width:60%;" v-on:click="submit">注册</button>
                        </div>
                        <div style="height:50px;"></div>
                    </div>
                </div>

            </div>
        </div>
    </body>
    <script>
        var app=new Vue({
            el:"#app",
            data:{
                darkmode:false,
                lightcolor:{
                    front:"white",
                    background:"#f6f6f6",
                    content:"#2e4e7e",
                    alert:"alert alert-primary",
                    bgpic:"url('static/img/bg.png')"
                },
                darkcolor:{
                    front:"#3e3e3e",
                    background:"black",
                    content:"#28a745",
                    alert:"alert alert-success",
                    bgpic:"url('static/img/bgdark.png')"
                },
                //后台获取的信息
                tags:[],
                //用户填写的信息双向绑定
                account:"",
                password:"",
                repeatpassword:"",
                name:"",
                email:""
                //workplace:"",
            },
            computed:{
                styleobject:function(){
                    if(this.darkmode){
                        return this.darkcolor;
                    }
                    else{
                        return this.lightcolor;
                    }
                }
            },
            methods:{
                switchtheme:function(){
                    this.darkmode=!this.darkmode;
                    document.querySelector('body').style.backgroundColor=this.styleobject.background;
                    document.querySelector('body').style.color=this.styleobject.content;
                    document.querySelector('body').style.backgroundImage=this.styleobject.bgpic;
                    window.localStorage["dark"]=this.darkmode;
                },
                submit:function(){
                    if(this.password==""||this.account==""||this.email==""){
                        return
                    }
                    if(this.password!=this.repeatpassword){
                        return
                    }
                    if(this.password.length<8){
                        alert("密码长度不能少于8位")
                        return
                    }
                    var bundle={}
                    bundle["username"]=this.account
                    bundle['password']=this.password
                    bundle['email']=this.email
                    bundle['confirm_email_base_url']="http://114.116.53.43/templates/confirm.html?token="

                    axios({
                        method: 'post',
                        url:'http://114.116.53.43/api/users',
                        headers:{
                            'Content-Type': 'application/json',
                            'Cache-Control': 'no-cache',
                        },
                        data:JSON.stringify(bundle),
                    }).then(
                        response=>{
                            console.log(response);
                            alert("注册成功,一封注册邮件已经发往你的邮箱，请注意查收");
                            window.location.href="login.html"
                        }
                        
                    ).catch(function (error) {
                        if(error.response.status==400&&error.response.statusText=="BAD REQUEST"){
                            if(error.response.data.message.email){
                                if(error.response.data.message.email=="Please provide a valid email address."){
                                    alert("邮箱不合法")
                                }
                                else{
                                    alert("邮箱已被注册")
                                }
                                
                            }
                            else if(error.response.data.message.username){
                                alert("用户名已被占用")
                            }
                        }
                        console.log(error.response);
                    }.bind(this));
                }
            },
            mounted(){
                if(!window.localStorage["dark"]||window.localStorage["dark"]=="false"){
                    this.darkmode=false;
                }
                else{
                    this.darkmode=true;
                }
                document.querySelector('body').style.backgroundColor=this.styleobject.background;
                document.querySelector('body').style.color=this.styleobject.content;
                document.querySelector('body').style.backgroundImage=this.styleobject.bgpic;
                document.querySelector('body').style.backgroundAttachment="fixed";
                document.querySelector('body').style.backgroundSize='cover';
                //this.gettags();
            }
        })
    </script>
    <link rel="stylesheet" type="text/css" href="static/css/header.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <style>
		.btn-primary {
			background-color: #2e4e7e;
			border-color: #2e4e7e;
		}
        .btn-outline-primary {
        	color: #2e4e7e;
        	border-color: #2e4e7e;
        }
    </style>
</html>