<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
        <title>用户信息</title>
    </head>
    <body>
        <div id='app'>
            <!--粘性标题栏-->
            <div class="container-fluid header" v-bind:style="{'background-color':styleobject.front}">
                <!--img src="static/img/guard.png" style="height:60px;width:60px; margin:5px;"-->
                <img v-bind:src="darkmode?'static/img/dark_back.png':'static/img/light_back.png'"
                    style="width: 50px;height: 50px;margin-top:5px;vertical-align: top;" class="main"
                    onclick="window.history.back(-1)">
                <div class="header-content" style="display:inline-block;">用户信息</div>
                <button  v-bind:class="{btn:true,'btn-primary':!darkmode,'btn-success':darkmode}"  style="float:right;height:100%;" v-on:click="switchtheme">切换主题</button>
                <div class="dropdown" style="float:right">
                    <div class="main dropdown-toggle" data-toggle="dropdown" style="width: 75px;height:60px;margin:5px;float: right;padding: 5px;">
                        <img v-bind:src="mineavatar?mineavatar:'static/img/avater.jpg'" 
                        style="width:50px;height:50px;">
                    </div>
                    <div class="dropdown-menu" v-bind:style="{'background-color':styleobject.front }">
                        <a class="dropdown-item" href="index.html" v-bind:style="{color:styleobject.content}">首页</a>
                        <a class="dropdown-item" href="usercenter.html" v-bind:style="{color:styleobject.content}">个人中心</a>
                        <!--div class="dropdown-divider"></div-->
                    </div>
                </div>
            </div>

            <!--主体-->
            <div class="container-fluid" style="margin-top:30px;">
                <!--头部-->
                <div class="top main" v-bind:style="{'background-color':styleobject.front}">
                    <img v-bind:src="userinfo.avatar?userinfo.avatar:'static/img/avater.jpg'" style="width: 170px;width:170px;margin-top: 25px;">
                    <div class='top-name'>
                        <h1>{{userinfo.username}}<span style="font-size: 20px;"></span>
                            <h3>
                                <span v-if="userinfo.valid" class="badge badge-primary">已认证</span>
                                <span v-if="userinfo.valid&&userinfo.administrator"class="badge badge-warning">管理员</span>
                                <span v-if="userinfo.valid&&userinfo.forbidden" class="badge badge-danger">封禁中</span>
                                <span v-if="userinfo.valid&&userinfo.role_name" class="badge badge-success">{{userinfo.role_name}}</span>
                            </h3>
                        </h1>
                        
                    </div>
                    <div class='top-statistic'>
                        <table style="width:100%;text-align:center;" >
                            <thead>
                                <th>关注Ta</th>
                                <th>Ta关注</th>
                            </thead>
                            <tbody><tr>
                                
                                <td>{{userinfo.followed}}</td>
                                <td>{{userinfo.following_count}}</td>
                            </tr></tbody>
                        </table>
                        <button type="button" v-bind:class="{btn:true,'btn-primary':!darkmode,'btn-success':darkmode}"
                        style="width: 100%; margin-bottom: 3px;" v-on:click="followbuttonclick">{{userinfo.following?'取消关注':'关注Ta'}}</button>
                        <button type="button" v-bind:class="{btn:true,'btn-outline-primary':!darkmode,'btn-outline-success':darkmode}"
                        style="width: 100%;" v-on:click="send_message">向Ta发站内信</button>
                        
                    </div>
                   
                </div>
                <!--中部-->
                <div class="middle">
                    <nav v-bind:class="{navbar:true,'navbar-expand-sm':true ,'navbar-dark':true,main:true,'bg-primary':!darkmode,'bg-success':darkmode}" style="width:100%;margin:0 auto;margin-bottom:10px;">
                        <ul class="navbar-nav">
                          <li v-bind:class="{'nav-item':true,'active':mode==0}" style="cursor: pointer;" v-on:click="changemode(0)">
                            <span class="nav-link" >Ta的微证据</span>
                          </li>
                          <li v-bind:class="{'nav-item':true,'active':mode==1}" style="cursor: pointer;" v-on:click="changemode(1)">
                            <span class="nav-link" >Ta的微猜想</span>
                          </li>
                          <li v-bind:class="{'nav-item':true,'active':mode==2}" style="cursor: pointer;" v-on:click="changemode(2)">
                            <span class="nav-link" >Ta的关注</span>
                          </li>
                          <li v-bind:class="{'nav-item':true,'active':mode==3}" style="cursor: pointer;" v-on:click="changemode(3)">
                            <span class="nav-link " >关注Ta的人</span>
                          </li>
                        </ul>
                      </nav>
                      
                    

                    <template v-if="mode==0">
                        <template v-for="evidence in evidences">
                            <div class="item card" style="cursor: pointer;" v-on:click="goto_evidence(evidence.id)">
                                <div v-bind:class="styleobject.itemheaderclass">{{evidence.header}}
                                    <span class="badge badge-pill badge-info mybadge" v-for="b in evidence.badges">{{b}}</span>
                                </div>
                                <div v-bind:class="styleobject.itembodyclass">{{evidence.content}}</div>
                            </div>
                        </template>
                        <div class="main middle-body" v-bind:style="{'background-color':styleobject.front,'text-align':'center',width:'100%',margin:'0 auto','cursor':'pointer'}" v-on:click="getevidences">
                            {{hasnext?'点击加载更多':'已经没有更多了'}}
                        </div>
                    </template>
                    <template v-else-if="mode==1">
                        <template v-for="h in hypothesis">
                            <!--div class="item card" style="cursor: pointer;" v-on:click="goto_hypothesis(h.id)">
                                <div v-bind:class="styleobject.itemheaderclass">{{h.header}}
                                    <span class="badge badge-pill badge-info mybadge" v-for="b in h.badges">{{b}}</span>
                                </div>
                                <div v-bind:class="styleobject.itembodyclass">{{h.content}}</div>
                            </div-->
                            <div class="item card" v-on:click="goto_hypothesis(h.id)" style="cursor: pointer;">
                                <div v-bind:class="styleobject.itemheaderclass">{{h.header}}
                                    <span style="font-size: 20px;">
                                    <span v-if="h.evidence_state&& h.state==0" v-bind:class="{badge:true,'badge-warning':true}">评审中</span>
                                    <span v-if="h.evidence_state&&h.state==-1" v-bind:class="{badge:true,'badge-danger':true}">未通过</span>
                                    <span v-if="h.evidence_state&&h.state==1" v-bind:class="{badge:true,'badge-success':true}">已通过</span>
                                    <br>
                                    <span v-for="badge in h.badges" class="badge badge-pill badge-info mybadge">{{badge}}</span>
                                    </span>
                                </div>
                                <div v-bind:class="styleobject.itembodyclass">{{h.content}}</div>
                            </div>
                        </template>
                        <div class="main middle-body" v-bind:style="{'background-color':styleobject.front,'text-align':'center',width:'100%',margin:'0 auto','cursor':'pointer'}" v-on:click="gethypothesis">
                            {{hasnext?'点击加载更多':'已经没有更多了'}}
                        </div>
                    </template>
                    <template v-else-if="mode==2">
                        <div style="width: 95%;margin:0 auto">
                        <template v-for="f in following">
                            <div class="main people"v-bind:style="{'background-color':styleobject.front,width:cardwidth}">
                                <img v-bind:src="f.avatar?f.avatar:'static/img/avater.jpg'" class="people-avater">
                                <div style="display: inline-block;vertical-align: top;width:65%">
                                    <h4>{{f.username}}</h4>
                                    <span v-if="f.valid" class="badge badge-primary">已认证</span>
                                    <span v-if="f.administrator" class="badge badge-warning">管理员</span>
                                    <span v-if="f.forbidden" class="badge badge-danger">封禁中</span><br>
                                    <button v-bind:class="{btn:true,'btn-primary':!darkmode,'btn-success':darkmode}"
                                        style="font-size: 12px;" v-on:click="goto_userinfo(f.id)">个人中心</button>
                                </div>
                            </div>
                        </template>
                        <div class="main middle-body" v-bind:style="{'background-color':styleobject.front,'text-align':'center',width:'100%',margin:'0 auto','cursor':'pointer'}" v-on:click="getfollowing">
                            {{hasnext?'点击加载更多':'已经没有更多了'}}
                        </div>
                        </div>
                    </template>
                    <template v-else-if="mode==3">  

                        <template v-for="f in followed">
                            <div class="main people"v-bind:style="{'background-color':styleobject.front,width:cardwidth}">
                                <img v-bind:src="f.avatar?f.avatar:'static/img/avater.jpg'" class="people-avater">
                                <div style="display: inline-block;vertical-align: top;width:65%">
                                    <h4>{{f.username}}</h4>
                                    <span v-if="f.valid" class="badge badge-primary">已认证</span>
                                    <span v-if="f.administrator" class="badge badge-warning">管理员</span>
                                    <span v-if="f.forbidden" class="badge badge-danger">封禁中</span><br>
                                    <button v-bind:class="{btn:true,'btn-primary':!darkmode,'btn-success':darkmode}"
                                        style="font-size: 12px;"  v-on:click="goto_userinfo(f.id)">个人中心</button>
                                </div>
                            </div>
                        </template>
                        <div class="main middle-body" v-bind:style="{'background-color':styleobject.front,'text-align':'center',width:'100%',margin:'0 auto','cursor':'pointer'}" v-on:click="getfollowing">
                            {{hasnext?'点击加载更多':'已经没有更多了'}}
                        </div>
                    </template>
                </div>
                <!--右侧-->
                <div class="right">
                    <div class="main right-bar" v-bind:style="{'background-color':styleobject.front}">
                        <span style="font-size:20px;">个人信息</span>
                        <hr v-bind:style="{border:'1px solid '+styleobject.content,margin:'3px'}">
                        <table style="width:100%" style="text-align: center;">
                            <thead>
                                <th style="text-align: center;">发布的微知识</th>
                                <th style="text-align: center;">关注的微知识</th>
                            </thead>
                            <tbody><tr>
                                <td style="text-align: center;">{{userinfo.micropub}}</td>
                                <td style="text-align: center;">{{userinfo.followedpubs}}</td>
                            </tr></tbody>
                        </table>
                        注册时间:{{userinfo.registerdate}}<br>
                        <!--button type="button" class="btn btn-danger"
                        style="width: 100%;">屏蔽此人</button-->
                        <div style="height: 5px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        var app=new Vue({
            el:"#app",
            data:{
                //主题颜色配置
                darkmode:false,
                lightcolor:{
                    front:"white",
                    background:"#f6f6f6",
                    content:"#2e4e7e",
                    alert:"alert alert-primary",
                    alerterror:'alert alert-danger',
                    bgpic:"url('static/img/bg.png')",
                    itembodyclass:['item-body'],
                    itemheaderclass:['item-header','bg-primary','text-white'],
                },
                darkcolor:{
                    //front:"#282561",
                    front:"#3e3e3e",
                    background:"black",
                    content:"#28a745",
                    alert:"alert alert-success",
                    alerterror:'alert alert-danger',
                    bgpic:"url('static/img/bgdark.png')",
                    itembodyclass:['item-body','bg-dark'],
                    itemheaderclass:['item-header','bg-success','text-white'],
                },
                //个人信息
                userinfo:{},
                //状态：
                mode:0,
                //模式0 所有微证据
                evidences:[],
                //模式2:关注的人
                following:[],
                //模式3 关注T的人
                followed:[],
                hypothesis:[],
                //页数
                currentpage:0,
                hasnext:true,
                //窗口宽度
                windowwidth:0,
                mineavatar:window.localStorage["avatar"],
            },
            computed:{
                styleobject:function(){
                    if(this.darkmode){
                        return this.darkcolor;
                    }
                    else{
                        return this.lightcolor;
                    }
                },  
                cardwidth:function(){
                    debugger
                    if(this.windowwidth<925){
                        return "96%";
                    }
                    return "48%";
                }
            },
            methods:{
                switchtheme:function(){
                    this.darkmode=!this.darkmode;
                    document.querySelector('body').style.backgroundColor=this.styleobject.background;
                    document.querySelector('body').style.color=this.styleobject.content;
                    document.querySelector('body').style.backgroundImage=this.styleobject.bgpic;
                    window.localStorage["dark"]=this.darkmode;
                },
                getQueryVariable:function (variable){
                    var query = window.location.search.substring(1);
                    var vars = query.split("&");
                    for (var i=0;i<vars.length;i++) {
                        var pair = vars[i].split("=");
                        if(pair[0] == variable){return pair[1];}
                    }
                    return(false);
                },
                //获取我的信息展示右侧栏
                getuserinfo:function(){
                    if(!window.localStorage["token"]){
                        return;
                    }
                    var target=this.getQueryVariable("id");
                    axios({
                        method: 'get',
                        url:'http://114.116.53.43/api/users/'+target,
                        headers:{
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                    }).then(
                        response=>{
                            console.log(response)
                            this.userinfo={
                                valid:true,
                                //account:'ussr',
                                username:response.data.username,
                                forbidden:response.data.role_id==1,
                                confirmed:response.data.confirmed,
                                administrator:response.data.role_id==4,
                                micropub:response.data.micropubs_count,
                                followed:response.data.followers_count,
                                following_count:response.data.followeds_count,
                                avatar:response.data._links.avatar,
                                followedpubs:response.data.followeds_micropubs_count,
                                registerdate:response.data.member_since.substring(0,10),
                                email:response.data.email,
                                following:response.data.is_following,
                            }
                            if(response.data.role_id!=1&&response.data.role_id!=4){
                                this.userinfo.role_name=response.data.role_name;
                            }
                        }
                        
                    ).catch(function (error) {
                        if(error.response.status==400){
                            if(!error.response.data.message){
                                //没有message 是登录失败
                                window.location.href="login.html?type=1"
                            } 
                        }
                        if(error.response.status==404){
                            alert("该用户不存在");
                            window.history.back(-1);
                        }
                        console.log(error.response)
                    }.bind(this));
                },
                unfollow:function(){
                    var x=this.getQueryVariable("id");
                    axios({
                        method: 'get',
                        url:'http://114.116.53.43/api/unfollow/'+x,
                        headers:{
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                    }).then(
                        response=>{
                            alert("成功取消关注")
                            console.log(response);
                            window.location.reload();
                        }
                        
                    ).catch(function (error) {
                        console.log(error.response)
                        if(error.response.status==400){
                            if(!error.response.data.message){
                                //没有message 是登录失败
                                window.location.href="login.html?type=1"
                            } 
                            else if(error.response.data.message=="You cannot unfollow yourself."){
                                alert("错误：你不能取关你自己")
                            }
                        }
                        else if(error.response.status==404){
                            alert("取关对象不存在");
                        }
                    }.bind(this));
                },
                follow:function(){
                    var x=this.getQueryVariable("id");
                    axios({
                        method: 'get',
                        url:'http://114.116.53.43/api/follow/'+x,
                        headers:{
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                    }).then(
                        response=>{
                            alert("成功关注")
                            console.log(response);
                            window.location.reload();
                        }
                        
                    ).catch(function (error) {
                        console.log(error.response)
                        if(error.response.status==400){
                            if(!error.response.data.message){
                                //没有message 是登录失败
                                window.location.href="login.html?type=1"
                            } 
                            else if(error.response.data.message=="You cannot follow yourself."){
                                alert("错误：你不能取关你自己")
                            }
                        }
                        else if(error.response.status==404){
                            alert("关注对象不存在");
                        }
                    }.bind(this));
                },
                followbuttonclick:function(){
                    if(this.userinfo.following){
                        this.unfollow();
                    }
                    else{
                        this.follow();
                    }
                },
                changemode:function(x){
                    //debugger
                    if(x==0){
                        this.currentpage=0;
                        this.hasnext=true;
                        this.evidences.splice(0,this.evidences.length);
                        this.getevidences();
                    }
                    else if(x==1){
                        this.currentpage=0;
                        this.hasnext=true;
                        this.hypothesis.splice(0,this.evidences.length);
                        this.gethypothesis();
                    }
                    else if(x==2){
                        this.currentpage=0;
                        this.hasnext=true;
                        this.following.splice(0,this.following.length);
                        this.getfollowing();
                    }
                    else if(x==3){
                        this.currentpage=0,
                        this.hasnext=true,
                        this.followed.splice(0,this.following.length);
                        this.getfollowed();
                    }
                    this.mode=x;
                },
                //获取我关注的人
                getfollowing:function(){
                    var target=this.getQueryVariable("id");
                    if(!this.hasnext){
                        return;
                    }
                    this.currentpage++;
                    axios({
                        method: 'get',
                        url:'http://114.116.53.43/api/users/'+target+'/followeds?page='+this.currentpage+'&per_page=10',
                        headers:{
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                        
                    }).then(
                        response=>{
                            console.log(response)
                            this.hasnext=response.data._links.next!=null;
                            for(var i=0;i<response.data.items.length;i++){
                                this.following.push({
                                    valid:true,
                                    username:response.data.items[i].username,
                                    forbidden:false,
                                    administrator:false,
                                    id:response.data.items[i].id,
                                    avatar:response.data.items[i]._links.avatar,
                                })
                            }
                        }
                    ).catch(function (error) {
                        //debugger
                        if(error.response.status==400){
                            window.location.href="login.html?type=1" 
                        }
                        else if(error.response.status==404){
                            window.location.href="login.html"
                        }
                        console.log(error.response);
                    }.bind(this));
                },
                //获取关注我的人
                getfollowed:function(){
                    var target=this.getQueryVariable("id");
                    if(!this.hasnext){
                        return;
                    }
                    this.currentpage++;
                    axios({
                        method: 'get',
                        url:'http://114.116.53.43/api/users/'+target+'/followers?page='+this.currentpage+'&per_page=10',
                        headers:{
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                        
                    }).then(
                        response=>{
                            console.log(response)
                            this.hasnext=response.data._links.next!=null;
                            for(var i=0;i<response.data.items.length;i++){
                                this.followed.push({
                                    valid:true,
                                    username:response.data.items[i].username,
                                    forbidden:false,
                                    administrator:false,
                                    id:response.data.items[i].id,
                                    avatar:response.data.items[i]._links.avatar,
                                })
                            }
                        }
                    ).catch(function (error) {
                        //debugger
                        if(error.response.status==400){
                            window.location.href="login.html?type=1" 
                        }
                        else if(error.response.status==404){
                            window.location.href="login.html"
                        }
                        console.log(error.response);
                    }.bind(this));
                },
                getevidences:function(){
                    var target=this.getQueryVariable("id");
                    if(!this.hasnext){
                        return;
                    }
                    this.currentpage++;
                    axios({
                        method: 'get',
                        url:'http://114.116.53.43/api/users/'+target+'/micropubs?page='+this.currentpage+'&per_page=10',
                        headers:{
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                        
                    }).then(
                        response=>{
                            debugger
                            this.hasnext=response.data._links.next!=null;
                            for(var i=0;i<response.data.items.length;i++){
                                this.evidences.push({
                                    id:response.data.items[i].id,
                                    header:response.data.items[i].title,
                                    content:response.data.items[i].summary,
                                    badges:response.data.items[i].tags,
                                })
                            }
                        }
                    ).catch(function (error) {
                        //debugger
                        if(error.response.status==400){
                            window.location.href="login.html?type=1" 
                        }
                        else if(error.response.status==404){
                            window.location.href="login.html"
                        }
                        console.log(error.response);
                    }.bind(this));
                },
                goto_evidence:function(id){
                    window.open("evidence_detail.html?id="+id);
                },
                goto_userinfo:function(x){
                    window.open("userinfo.html?id="+x); 
                },
                send_message:function(){
                    window.open('message.html?id='+this.getQueryVariable('id'));
                },
                goto_hypothesis:function(id){
                    window.open("hypothesis_detail.html?id="+id);
                },
                gethypothesis:function(){
                    var target=this.getQueryVariable("id");
                    if(!this.hasnext){
                        return;
                    }
                    this.currentpage++;
                    axios({
                        method: 'get',
                        url:'http://114.116.53.43/api/users/'+target+'/microcons?status=0,1,-1&page='+this.currentpage+'&per_page=10',
                        headers:{
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                        
                    }).then(
                        response=>{
                            debugger
                            console.log(response)
                            this.hasnext=response.data._links.next!=null;
                            for(var i=0;i<response.data.items.length;i++){
                                this.hypothesis.push({
                                    id:response.data.items[i].id,
                                    header:response.data.items[i].title,
                                    content:response.data.items[i].summary,
                                    badges:response.data.items[i].tags,
                                    evidence_state:true,
                                    state:response.data.items[i].status,
                                })
                            }
                        }
                    ).catch(function (error) {
                        debugger
                        console.log(error.response)
                        if(error.response.status==400){
                            window.location.href="login.html?type=1" 
                        }
                        else if(error.response.status==404){
                            window.location.href="login.html"
                        }
                        console.log(error.response);
                    }.bind(this));
                },
            },
            mounted(){
                if(!window.localStorage["dark"]||window.localStorage["dark"]=="false"){
                    this.darkmode=false;
                }
                else{
                    this.darkmode=true;
                }
                document.querySelector('body').style.backgroundColor=this.styleobject.background;
                document.querySelector('body').style.color=this.styleobject.content;
                document.querySelector('body').style.backgroundImage=this.styleobject.bgpic;
                document.querySelector('body').style.backgroundAttachment="fixed";
                document.querySelector('body').style.backgroundSize='cover';
                if(this.getQueryVariable("id")==window.localStorage["id"]){
                    window.location.href="usercenter.html"
                }
                this.getuserinfo();
                this.changemode(0);
                this.windowwidth=document.body.clientWidth;
                window.onresize=()=>{
                    this.windowwidth=document.body.clientWidth;
                }
            }
        })
    </script>
    <link rel="stylesheet" type="text/css" href="static/css/header.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <style>
        .top{
            width:100%;
            height:200px;
            padding-left: 1rem;
            padding-right: 1rem;
            margin-bottom: 15px;
        }
        .top-name{
            display: inline-block;
            vertical-align: top;
            margin-top: 65px;
        }
        .top-statistic{
            vertical-align: top;
            margin-top: 50px;
            float: right;
            font-size: 20px;
        }
        .middle{
            width:70%;
            height:auto;
            display: inline-block;
            /* opacity: 0.8; */
        }
        .middle-body{
            display: block;
            width:95%;
            height:auto;
            font-size: 15px;
            padding:2%;
            margin:0 auto;
            margin-bottom: 15px;
            box-shadow:0 1px 3px rgba(26,26,26,.5);
        }
        .right{
            width:25%;
            margin-left: 4%;
            height:200px;
            display: inline-block;
            vertical-align: top;
            opacity: 0.8;
        }
        .right-bar{
            width:100%;
            height:auto;
            display:block;
            padding: 2px;
            margin-bottom: 15px;
        }
        .mycard{
            display: block;
            width:95%;
            height: auto;
            max-height: 150px;;
            font-size: 15px;
            padding:2%;
            margin:0 auto;
            margin-bottom: 15px;
            border-radius: 15px;
            box-shadow:0 1px 3px rgba(26,26,26,.5);
        }
        .mycard-content{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
        .people{
            display: inline-block;
            width:48%;
            border-radius: 15px;
            height:150px;
            margin-top: 10px;
            margin-bottom:10px;
            margin-left: 1%;
            padding:2%;
            vertical-align: top;
        }
        .people-avater{
            margin:0 auto;
            display: inline-block;
            width:23%;
            opacity: 1;
        }
        .item{
            width:98%;
            margin:0px auto;
            box-shadow:0 1px 3px rgba(26,26,26,.3);
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            border:none;
        }
        .item-header{
            height:auto;
            font-size:25px;
            padding:3px;
            overflow: hidden;
            padding-left: 1.25rem;
        }
        .item-body{
            height:70px;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            font-size: 15px;
        }
        .btn-primary {
        	background-color: #2e4e7e;
        	border-color: #2e4e7e;
        }
        .btn-outline-primary {
        	color: #2e4e7e;
        	border-color: #2e4e7e;
        }
        .bg-primary {
        	background-color: #2e4e7e !important;
        }
    </style>
</html>